*{
    margin:0;
    padding:0;
    font-family: Century Gothic;
}
html{
    scroll-behavior: smooth;
}
.main{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(eco.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    
}
.navbar{
    width:100%;
    height:45px;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    
}

.navbar ul{
    float:right;
    
    list-style-type: none;
}
.navbar ul li{
     display:inline-block;
     margin-top: 10px;
     position:relative;
     right:3%;  
      
}
.navbar ul li a{
    text-decoration: none;
    color:aliceblue;
    padding: 5px 20px;
    border:10px solid transparent;
}
.navbar ul li a:hover{
    color: #000;
    background-color: aliceblue;
    transition:0.8s ease ;
}

.title{
    
    position: absolute;
    top: 40%;
    left:38%;
}
.title h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    color:white;
    font-size: 300%;
}
.con{
    width:100%;
    height:auto;
    position:relative;
    top:50px;

}
.types h1{
    text-align: center;
    float:left;
}
.types .image img{
    width:600px;
    height:auto;
    object-fit: noness;
}
.button ul{
    list-style-type: none;
}
.button ul li a{
    text-decoration: none;
    color:aliceblue;
    padding: 5px 20px;
    border:1px solid white;
}
.button ul li a:hover{
    background-color: white;
    color: black;
    transition: 0.8s ease;
}
.button{
    position: absolute;
    top: 56%;
    left:45%;
    float:bl;
    transition: 0.8s ease;

}


section{
    width:100%;
    height:100vh;
}
#sec1 .fword{
    font-size: 40px;
    font-weight: 600;
   font-family:'Courier New';
}   
#sec1 .text{
 position: absolute;
 margin-top: 60px;
  left: 180px;
  width: 60%;
  font-weight: 450;
  font-family:Courier New;
}

#sec2 .India{
     position: absolute;
 margin-top: 134px;
  left: 152px;
  width: 55%;
  font-weight: 450;
  font-size: 25px;
  font-family:Courier New;
}
#sec1 .importance{
     position: absolute;
 margin-top: 267px;
  right :97px;
  width: 65%;
  font-weight: 450;
  font-family:Courier New;
  text-align: right;

}

#sec1 {
     top:130px;
   margin-top: 25px;
}
#sec1 h2{
    text-align: center;
}
#sec1 p{
    margin:10px;
     font-weight: 500;
    word-spacing: 1px;  
}
#sec1 ul{
    position:relative;
    left:60px;
}
#sec1 li{
    list-style-type: circle;
    font-weight: bold;
    margin:10px 0;   
}

#sec1 .content{
     float: left;
   position: absolute;
 margin-top: 48px;
  left: 125px;
  width: 65%;
  font-weight: 450;
  font-family:Courier New;
}
.text h2{
    margin:10px;   
}

#sec2 .types{
 margin: auto;
  width: 52%;
}

#sec2 h1{
    font-size: 300% 
}

#sec2 .indimg{
 position: absolute;
 margin-top: 100px;
  right: 100px;
}
.India{
   width: 800px;
   height:auto;
   position:relative;
   top:200px;
   left:40px;
}
.India ul li{
    margin:10px 0;
}
.India ul li{
    font-size: 21;
}
.imagec{
    float:right;
    position:relative;
    bottom:250px;
    right:20px;
}